@font-face {
  font-family: "MyFont";
  src: url("./../assets/fonts/NotoSansKR-Bold.otf") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "MyFont";
  background: url("./../assets/images/miniunse.jpeg");
}
